:root {
  --mainColor: #FF331B;
  --fontColor: #111035;
}

* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  color: var(--fontColor);
}

/* Menu */

.navbar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: var(--fontColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  max-width: 600px;
  flex: 0 1 600px;
}

input[type="text"] {
  display: block;
  width: calc(100% - 24px);
  /*20px [ left & Right ] padding + 4px border [ left & Right ] */
  font-size: 18px;
  font-weight: 600;
  color: var(--fontColor);
  padding: 10px;
  margin: 0 20px;
  border: 2px solid var(--fontColor);
}

.search form {
  position: relative;
}

.search form button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background: transparent;
  border: transparent;
  font-size: 20px;
  color: var(--fontColor);
  cursor: pointer;
  outline: 0;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons img {
  width: 35px;
  margin: 0 20px;
  transition: 0.2s;
}

.icons img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* Banner */
.banner {
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 85%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.banner__content {
  grid-column: 1 / 7;
}

.banner__image {
  grid-column: 7 / 13;

  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__image img {
  width: 100%;
}

.banner__headline {
  font-size: 60px;
  font-weight: 800;
}

.banner__subheader {
  font-weight: 300;
}

.btn {
  width: 150px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  font-weight: 600;
  color: var(--fontColor);
  border: 3px solid var(--fontColor);
  margin: 20px 0;
  transition: 0.2s;
}

.btn:hover {
  cursor: pointer;
  background: var(--fontColor);
  color: #FFF;
}

@media screen and (max-width: 950px) {
  .grid {
    width: 90%;
  }

  .banner__content,
  .banner__image {
    grid-column: 1 / -1;
  }

  .banner__image img {
    height: 100%;
    object-fit: cover;
  }
}