:root {
  --mainColor: #FF331B;
  --fontColor: #111035;
  --buyColor: #24ca71;
}

* {
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
}

body {
  width: 100%;
  min-height: 100vh;
  color: var(--fontColor);
}

section,
header,
footer {
  padding: 20px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.grid {
  width: 85%;
  height: 100%;

  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 20px;
}

.flex {
  width: 85%;
  height: 100%;

  display: flex;
  flex-wrap: wrap;
}

.navlink {
  color: var(--fontColor);
  text-decoration: none;
}

/* Menu */

.navbar {
  padding: 20px;
  display: flex;
  justify-content: space-between;
}

.logo {
  color: var(--fontColor);
  display: flex;
  justify-content: center;
  align-items: center;
}

.search {
  max-width: 600px;
  flex: 0 1 600px;
}

input[type="text"] {
  display: block;
  width: calc(100% - 24px);
  /*20px [ left & Right ] padding + 4px border [ left & Right ] */
  font-size: 18px;
  font-weight: 600;
  color: var(--fontColor);
  padding: 10px;
  margin: 0 20px;
  border: 2px solid var(--fontColor);
}

.search form {
  position: relative;
}

.search form button {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  background: transparent;
  border: transparent;
  font-size: 20px;
  color: var(--fontColor);
  cursor: pointer;
  outline: 0;
}

.icons {
  display: flex;
  justify-content: center;
  align-items: center;
}

.icons img {
  width: 35px;
  margin: 0 20px;
  transition: 0.2s;
}

.icons img:hover {
  cursor: pointer;
  transform: scale(1.2);
}

/* Banner */

.banner__content {
  grid-column: 1 / 7;
}

.banner__image {
  grid-column: 7 / 13;

  display: flex;
  justify-content: center;
  align-items: center;
}

.banner__image img {
  width: 100%;
}

.banner__headline {
  font-size: 60px;
  font-weight: 800;
}

.banner__subheader {
  font-weight: 300;
}

.btn {
  width: 150px;
  height: 50px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-size: 18px;
  font-weight: 600;
  color: var(--fontColor);
  border: 3px solid var(--fontColor);
  margin: 20px 0;
  transition: 0.2s;
}

.btn:hover {
  cursor: pointer;
  background: var(--fontColor);
  color: #FFF;
}

@media screen and (max-width: 950px) {
  .grid {
    width: 90%;
  }

  .banner__content,
  .banner__image {
    grid-column: 1 / -1;
  }

  .banner__image img {
    height: 100%;
    object-fit: cover;
  }
}

/* Categories */

.group {
  min-height: 200px;
  padding: 20px;
  color: #FFF;
  background: #eaeaea;
  border-radius: 20px;
  box-shadow: 0 1px 5px #AAA;

  display: flex;
  justify-content: center;
  align-items: center;

  position: relative;
  overflow: hidden;
}

.group .btn {
  color: #FFF;
  border: 3px solid #FFF;
  margin: 20px 0;
  transition: 0.2s;
}

.btn:hover {
  cursor: pointer;
  background: #FFF;
  color: var(--fontColor);
}

.group>.grid {
  width: 90%;
}

.electronic {
  grid-column: 1 / -1;
  background: #f25757;
}

.group__content {
  grid-column: 1 / 8;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.group__image {
  grid-column: 8 / 13;
}

.group__image img {
  width: 300px;
  position: absolute;
  top: 0;
}

.men {
  grid-column: 1 / 7;
  background: #ffc32c;
}

.women {
  grid-column: 7 / 13;
  background: #38d868;
}

@media screen and (max-width: 810px) {
  .group {
    height: auto;
    grid-column: 1 / -1;
  }
}

@media screen and (max-width: 530px) {
  .group__content {
    grid-column: 1 / -1;
  }

  .group__image {
    display: none;
  }
}

/* Products */

.products {
  background: #EEE;
}

.product {
  flex: 0 0 250px;
  background: #FFF;
  border-radius: 5px;
  padding: 20px;
  margin: 20px;
  transition: 0.2s;
}

.product:hover {
  cursor: pointer;
  box-shadow: 0 4px 8px #CACACA
}

.products .flex {
  display: flex;
  justify-content: center;
}

.product__image {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.product__image img {
  width: 150px;
}

.product__line {
  border: none;
  border-top: 1px solid #CCC;
  margin: 20px;
}

.product__content h2 {
  font-weight: 400;
  font-size: 1rem;
}

.product__content p {
  font-weight: 400;
  font-size: 1.5rem;
}

.article {
  width: 80%;
  padding: 30px;

  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;

  transition: 0.3s;
}

.article__image {
  display: flex;
  justify-content: center;
  align-items: center;
}

.article__img {
  padding: 20px;
  max-width: 400px;
  flex: 0 1 300px;
}

.article__details {
  max-width: 600px;
  flex: 1 1 250px;
  padding: 20px;
}

.article__details>* {
  margin-bottom: 20px;
}

.article__title {
  font-size: 2.5rem;
}

.article__desc {
  font-size: 1rem;
  font-weight: 400;
}

.rating {
  display: flex;
}

.rating__p {
  display: flex;
  align-items: center;
}

.article__icon {
  width: 35px;
}

.article__price {
  font-size: 2rem;
  font-weight: 700;
}

.btn-buy {
  color: var(--buyColor);
  border: 3px solid var(--buyColor);
  background: #FFF;
}

.btn-buy:hover {
  background: var(--buyColor);
  color: #FFF;
}

/* Loader */

.container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;
}

.loader {
  margin: auto;
  border: 10px solid #EAF0F6;
  border-radius: 50%;
  border-top: 10px solid var(--fontColor);
  width: 50px;
  height: 50px;
  animation: spinner 4s linear infinite;
}

@keyframes spinner {

  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }

}